<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 style="text-align: center;"><strong>CURRENT EMPLOYEES</strong></h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><strong>NAME</strong></th>
          <th><strong>DESIGNATION</strong></th>
          <th><strong>EMAILID</strong></th>
          <th><strong>MODIFY</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.name}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.email}}</td>
          <td><button (click)="deleteEmployee(employee.email)" class="btn btn-danger">DELETE
          </button>
            <button (click)="employeeDetails(employee.email)" class="btn btn-success"
              style="margin-left: 10px">INFO</button>
            <button (click)="updateEmployee(employee.email)" class="btn btn-secondary"
              style="margin-left: 10px;">UPDATE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>